name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download release asset
        uses: actions/download-artifact@v3
      - name: Zip custom_components/centrometal
        run: |
          cd custom_components/centrometal
          zip -r ../../centrometal.zip .
      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./centrometal.zip
          asset_name: centrometal.zip
          asset_content_type: application/zip
